.header{
    .state{
        width: 450px;
        height: 70px;
        background-image: url('../img/pc/user_status_bg.png');
        background-size: 100%;
        background-repeat: no-repeat;
        .photo{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: #fff;
        }   
        .level{
            width: 130px;
            height: 20px;
            background: #101B2C;
            border-radius: 30px;
            margin-top: 5px;
            position: relative;
        }
        .level::after{
            content:"Lv 92";
            width: 90px;
            height: 20px;
            border-radius: 30px;
            background: #F3CB04;
            position: absolute;
        }
        .hidden{
            opacity: 0;
        }  
    }

}
.content{
    width: 100%;
    margin-top: 40px;
    .aside{
        width: 25%;
        height: 390px;
        margin-left: 30px;
        margin-top: 50px;
        .item{
            background-image: url('../img/pc/quest_bg.png');
            height: 90px;
            width: 100%;
            margin-bottom: 10px;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            .lock{
                width: 15%;
                height: 50px;
                margin-left: 20px;
                background-image: url('../img/pc/lock.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .fish{
        width: 80%;
    }
}
.footer{
    .chat{
        width: 26%;
        height: 170px;
        background: #071824;
        border-right: 1px solid #03C4D9;
        border-top: 1px solid #03C4D9;
        .box1{
            div{
                background: #F2B500;
                width: 50px;
                height: 20px;
                padding: 8px;
                border-radius: 5px;
            }
        }
        .box2{
            div{
                background: blue;
                width: 50px;
                padding: 8px;
                border-radius: 5px;
            }
        }
        .box3{
            div{
                background: red;
                width: 50px;
                padding: 8px;
                border-radius: 5px;
            }
        }
    }
    .footer_menu{
        width: 74%;
        height: 55px;
        background: #07222D;
    }
}