.container{
    min-width: 1280px;
    height: 100vh;
    @include background(url('../img/pc/bg.jpg'),cover,0);
    z-index: -1;
}
.header{
    width: 100%;
    .state{
        @include size(45%,10vh);
        @include background(url('../img/pc/user_status_bg.png'),100% 100%,0);
        padding: 0 10px;
        .photo{
            @include size(15%,6vh);
            @include background(url('../img/pc/chipmunk.jpg'),cover,100%);
            margin-right: 5%;
        } 
        .user{
            width: 40%;
            margin-right: 5%;
            div{
                @include size(100%,3vh);
                @include background($darkBlue,auto,30px);
                margin-top: 10px;
                position: relative;
            }
            div::after{
                content:"Lv 92";
                @include size(60%,3vh);
                @include background($yellow,auto,30px);
                line-height: 3vh;
                position: absolute;
                padding-left: 10px;
            }
        }
        .hidden{
            opacity: 0;
        }
        .star{
            width: 12%;
            position: relative;
            p{
                margin-left: 15%;
            }
        }
    }
    .money{
        margin: 30px 0 0 50px;
        min-width: 25%;
        height: 4vh;
        background: -webkit-linear-gradient(bottom,$middleBlue 30%, $lightBlue 100%);
        background-clip: text;
        border-radius: 20px;
        position: relative;
        img{
            @include size(29%,6vh);
            position: absolute;
            top:-22%;
            left: -5%;
        }
        div{
            height: 4vh;
            p{
                padding-right: 10%;
                letter-spacing: 3px;
            }
        }

    }
    .top_menu{
        .top_menu_03, .top_menu_04{
            position: relative;
            img{
                @include topMenuMark(35%,auto,30%,0);
            }
        }
        .top_menu_02, .top_menu_05{
            position: relative;
            div{
                @include topMenuMark(20%,16%,28%,10%);
                @include background($mark,auto,100%);
            }
        }
    }
}
