.container{
    max-width: 1260px;
    margin: 0 auto;
}
#menu_control{
    position: absolute;
    top: 0;
    right: 0;
}
.header{
    height: 80px;
    width: 100%;
    background: $lightblack;
    >div{
        height: 100%;
    }
    p{
        font-size: 36px;
        padding-left: 10px;
    }
    ul li{
        a{
            display: block;
            padding-bottom: 5px;
        }
        a:hover{
            border-bottom: 2px solid $middleRed;
        }
    }
    nav, .menu_btn{
        display: none;
    }
    @include mobile{
        div{
            width: 90%;
            ul li a{
                display: none;
            }
            .menu_btn{
                display: block;
                width: 100px;
                span{
                    opacity: 0;
                }
            }
            .menu_btn::before{
                content: "";
                display: block;
                height: 2px;
                width: 20px;
                margin: 0 auto;
                background: $white;
                box-shadow: 0px 8px 0px $white,0px -8px 0px;
            }
        }
        nav{
            display: block;
            position: absolute;
            width: 100%;
            background: $black;
            top: 66px;
            left: -1000px;
            z-index: 10;
            a{
                display: block;
                width: 100%;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
    }
}
@include mobile{
    #menu_control:checked ~ .header nav{
        left:0;
    }
}
.banner{
    background: $black;
}