@mixin size($width,$height){
    width:$width;
    height:$height;
}

@mixin topMenuMark($width,$height,$bottom,$right){
    position: absolute;
    width: $width;
    height: $height;
    bottom: $bottom;
    right: $right;
}

@mixin background($background,$backgroundSize,$borderRadius){
    background:$background;
    background-size: $backgroundSize;
    border-radius: $borderRadius;
}
$ChatIcons:('icon_arrow', 'icon_config');
@each $currentIcons in $ChatIcons{
    .#{$currentIcons}{
        @include size(35px, 35px);
        @include background(url('../img/pc/#{$currentIcons}.svg') no-repeat,contain,0);
        position: absolute;
        z-index: 10;
    }
}

@for $i from 1 through 3{
    .chat_box#{$i}{
        div{
            white-space: nowrap;
            background: map-get($chatBoxColor,chatBox#{$i});
            width: 8%;
            padding: 2%;
            border-radius: 5px;
            margin-right: 3%;
            font-size: 12px;
        }
        p{
            line-height: 1.5;
            color: map-get($chatBoxTextColor,chatBox#{$i});
        }
        
    }
}

$fish: ('fish_1', 'fish_2', 'fish_3', 'fish_4');
@each $currentFish in $fish{
    .#{$currentFish}{
        @include size(25%,100%);
        @include background(url('../img/pc/#{$currentFish}.png') no-repeat, contain, 0);
    }
}

$game: ('game01', 'game02', 'game03');
@each $currentGame in $game{
    .#{$currentGame}{
        width: calc(100%/3);
        min-height: 500px;
        @include background(url('../img/pc/#{$currentGame}.png') no-repeat, contain,0);
        &:hover{
            opacity: 0.9;
        }
    }
}

$footerMenu: ('bottom_menu_01', 'bottom_menu_02', 'bottom_menu_03', 'bottom_menu_04','bottom_menu_05','bottom_menu_06');
@each $currentFooterMenu in $footerMenu{
    .#{$currentFooterMenu}{
        width: 140px;
        height: 55px;
        @include background(url('../img/pc/#{$currentFooterMenu}.png') no-repeat, contain, 0);
    }
}

html {
    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        color: $white;
        font-size: 20px;
    }
}
.container{
    min-width: 1280px;
    min-height: 720px;
    height: 100%;
    width: 100%;
    position: relative;
    @include background(url('../img/pc/bg.jpg') no-repeat center, cover, 0);
}