.main{
    @include size(100%,100%);
    .aside{
        @include size(30%,640px);
        position: relative;
        img{
            width: 90%;
            position: absolute;
            top:-12%;
        }
        .item{
            width: 85%;
            margin: 19% 0 0 6%;
            .item_content{
                @include size(90%,80px);
                @include background(url('../img/pc/quest_bg.png') no-repeat, 90% 100%, 0);
                color: $gray;
                margin-bottom: 3%;
                position: relative;
                .lock{
                    @include size(13%,50%);
                    @include background(url('../img/pc/lock.png') no-repeat,contain,0);
                    margin-left: 5%;
                }
                &:hover{
                    color: yellow;
                    .lock{
                        @include size(15%,30%);
                        @include background(url('../img/pc/get_reward_btn.png') no-repeat, contain,0);
                    }
                }
            }
        }
        .chat{
            @include size(100%,170px);
            background: $chatbackground;
            border-top: 1px solid $skyBlue;
            border-right: 1px solid $skyBlue;
            padding: 2%;
            font-size: 15px;
            position: relative;
            .icon_arrow{
                @include size(20%, 20%);
                @include background(url('../img/pc/icon_arrow_up.svg') no-repeat,contain,0);
                position: absolute;
                z-index: 10;
                right: -10%;
            }
            .icon_config{
                @include size(20%, 20%);
                @include background(url('../img/pc/icon_config.svg') no-repeat,contain,0);
                position: absolute;
                z-index: 10;
                right: -10%;
                bottom: 3%;
            }
            .chat_content{
                overflow: scroll;
                overflow-x:hidden;
                width: 90%;
                height: 80%;
                &::-webkit-scrollbar{
                    background: $chatbackground;
                }
                .box{
                    width: 100%;
                    margin-bottom: 1%;
                }
            }
            input{
                @include size(89%,20%);
                @include background($middleBlue,auto,5px);
                color: #fff;
                border:none;
            }
            .chatLog{
                position: absolute;
                top:-1%;
                right:-4%;
                div{
                    width: 12px;
                    height: 12px;
                    background: #05C3DA;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 7px;
                    writing-mode: vertical-lr;
                    font-weight: bolder;
                    color: #05C3DA;
                }
            }
        }
    }
    .content{
        @include size(70%,640px);
        .game{
            width: 100%;
            height: 80%;
            margin-top: 2%;
        }
        .bottom_menu{
            height: 10%;
            background: $middleBlue;
        }
        .menu_logo{
            position: absolute;
            top: -30%;
            right: 1%;
            div{
                width: 12px;
                height: 12px;
                background: #05C3DA;
                margin-right: 5px;
            }
            p{
                font-size: 7px;
                font-weight: bolder;
                color: #05C3DA;
            }
        }
    }
}