.main{
    width: 100%;
    height: 100%;
    .aside{
        width: 30%;
        position: relative;
        img{
            width: 93%;
            position: absolute;
            top:-14%;
        }
        .item{
            width: 85%;
            margin: 19% 0 0 6%;
            .item_content{
                height: 10vh;
                @include background(url('../img/pc/quest_bg.png') no-repeat, 90% 100%, 0);
                color: $gray;
                margin-bottom: 3%;
                position: relative;
                .lock{
                    width: 5vh;
                    height: 5vh;
                    @include background(url('../img/pc/lock.png') no-repeat,contain,0);
                    margin-left: 7%;
                }
                &:active{
                    color: $yellow;
                    .lock{
                    @include size(15%,3vh);
                    @include background(url('../img/pc/get_reward_btn.png') no-repeat, contain,0);
                    }
                }
            }
        }
        .chat{
            width: 100%;
            height: 18vh;
            background: $chatbackground;
            border-top: 1px solid $skyBlue;
            padding: 2%;
            font-size: 15px;
            .chat_content{
                overflow: scroll;
                overflow-x:hidden;
                height: 13vh;
                .box{
                    width: 100%;
                    margin-bottom: 1%;
                }
            }
            input{
                @include size(100%,3vh);
                @include background($middleBlue,auto,5px);
                color: #fff;
                border:none;
            }
            .triangle{
                border-left: 18px solid $lightBlue;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                position: absolute;
                bottom: 8%;
                right: 3%;
            }
        }
    }
    .content{
        width: 70%;
        height: 100%;
        .game{
            width: 100%;
            margin-top: 2%;
        }
        .bottom_menu{
            height: 8vh;
            background: $middleBlue;
        }
    }
}