.main{
    width: 100%;
    height: 80vh;
    .aside{
        width: 30%;
        height: 80vh;
        position: relative;
        img{
            width: 90%;
            position: absolute;
            top:-12%;
        }
        .item{
            width: 80%;
            margin-top: 19%;
            margin-left: 6%;
            .item_content{
                width: 100%;
                height: 10vh;
                color: gray;
                background: url('../img/pc/quest_bg.png') no-repeat;
                background-size: 90% 100%;
                margin-bottom: 3%;
                position: relative;
                z-index: 3;
                .lock{
                    width: 13%;
                    height: 5vh;
                    background: url('../img/pc/lock.png') no-repeat;
                    background-size: contain;
                    margin-left: 5%;
                }
            }
            .item_content:active{
                color: yellow;
                .lock{
                    background: url('../img/pc/get_reward_btn.png') no-repeat;
                    background-size: contain;
                    width: 15%;
                    height: 3vh;
                }
            }
        }
        .chat{
            width: 100%;
            height: 21vh;
            background: #071824;
            border-top: 1px solid #03C4D9;
            padding: 2%;
            font-size: 15px;
            .box{
                overflow: scroll;
                height: 13vh;
                .box1{
                    width: 100%;
                    margin-bottom: 1%;
                    div{
                        white-space: nowrap;
                        background: #F2B500;
                        width: 9%;
                        padding: 2%;
                        border-radius: 10px;
                        margin-right: 3%;
                    }
                    p{
                        line-height: 1.5;
                        color: #79A820;
                    }
                    
                }
                .box2{
                    width: 100%;
                    margin-bottom: 1%;
                    div{
                        white-space: nowrap;
                        background: #2A87FF;
                        width: 7%;
                        padding: 2%;
                        border-radius: 10px;
                        margin-right: 3%;
                    }
                    p{
                        line-height: 1.5;
                        color: #218FAA;
                    }
                    
                }
                .box3{
                    width: 100%;
                    div{
                        white-space: nowrap;
                        background: #FF3710;
                        width: 7%;
                        padding: 2%;
                        border-radius: 10px;
                        margin-right: 3%;
                    }
                    p{
                        line-height: 1.5;
                    }
                    
                }
            }
            input{
                background: #032E39;
                width: 100%;
                height: 3vh;
                color: #fff;
                border-radius: 5px;
                outline: none;
                border:none;
            }
            .triangle{
                border-left: 18px solid #2C5B75;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                position: absolute;
                bottom: 8%;
                right: 3%;
            }
        }
    }
    .content{
        width: 71%;
        height: 100%;
        .game{
            width: 100%;
            margin-top: 2%;
        }
        .bottom_menu{
            height: 8vh;
            background: #07222D;
        }
    }
}