$black:#000000;
$lightBlack:#0F0F0F;
$white:#ffffff;
$red:#ED1B23;
$middleRed:#F05457;
$pink:#F8B2AD;
$darkGray:#808284;
$lightGray:#F1F2F2;



//screen
@mixin mobile{
    @media screen and (max-width:1140px){
        @content
    }
}

@mixin mobile_2{
    @media screen and (max-width:600px){
        @content
    }
}


@mixin mobile_3{
    @media screen and (max-width:550px){
        @content
    }
}