$white:#fff;
$chatbackground:#071824;
$darkBlue:#101B2C;
$middleBlue:#062C44;
$lightBlue:#1D6591;
$skyBlue:#03C4D9;
$yellow:#F3CB04;
$mark:red;
$gray:#B4B4B5;
$chatBoxColor:(
    chatBox1:#F2B500,
    chatBox2:#2A87FF,
    chatBox3:#FF3710
);
$chatBoxTextColor:(
    chatBox1:#79A820,
    chatBox2:#218FAA,
    chatBox3:$white,
    );